<div class="container">
  <img width="50" height="50" src="https://img.icons8.com/ios/50/3c5a5d/circled-left-2.png" alt="circled-left-2"/>
 
  <h2 class="text-center">Buyer Profile</h2>
  <img width="30" height="30" src="https://img.icons8.com/ios/50/3c5a5d/user--v1.png" alt="user--v1"/> 
 <p Class="text-center">Personal Information</p>
  <form>
    <div class="mb-3">
      <label for="fullName" class="form-label">Full Name</label>
      <input type="text" id="fullName" class="form-control" />
    </div>

    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" id="email" class="form-control" />
    </div>

    <div class="mb-3">
      <label for="phoneNumber" class="form-label">Phone Number</label>
      <input type="tel" id="phoneNumber" class="form-control" />
    </div>

    <p class="text-muted">Address Information</p>
    <div class="mb-3">
      <input type="text" placeholder="Street" class="form-control" />
    </div>

    <div class="row mb-3">
      <div class="col-md-6">
        <input type="text" placeholder="City" class="form-control" />
      </div>
      <div class="col-md-6">
        <input type="text" placeholder="Suburb" class="form-control" />
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-6">
        <input type="text" placeholder="Province" class="form-control" />
      </div>
      <div class="col-md-6">
        <input type="text" placeholder="Postal Code" class="form-control" />
      </div>
    </div>

    <div class="text-left">
      <a href="/becoming-runner" class="text mb-4" style="cursor: pointer;">Become a runner</a>
    </div>
    
    <div class="text-center mt-2 ">
      <button type="submit " class="btn w-100" onclick="saveProfile()">Save
      </button>
    </div>
  </form>
</div>
      
    
  
  
  