<div class="container-fluid h-100 d-flex align-items-center justify-content-center bg-white">
  <div class="card shadow-lg p-5 text-center">

    <!-- Back Icon and Title (Aligned) -->
    <div class="d-flex align-items-center  mb-3">
      <img routerLink="/buyer-login" class="back-icon" width="37" height="37"
        src="https://img.icons8.com/ios/50/3c5a5d/circled-left-2.png" alt="Back" />
      <h1 class="main-slogan">Password Manager</h1>
    </div>

    <!-- Password Input -->
    <div class="mb-3 text-start">
      <label for="password" class="form-label">New Password</label>
      <input type="password" id="password" class="form-control px-3 py-2" placeholder="**************" />
    </div>

    <!-- Confirm Password Input -->
    <div class="mb-3 text-start">
      <label for="confirmPassword" class="form-label">Confirm Password</label>
      <input type="password" id="confirmPassword" class="form-control px-3 py-2" placeholder="**************" />
    </div>

    <!-- Change Password Button -->
    <button routerLink="/buyer-login" type="button" class="btn btn-primary w-100 py-3">Change Password</button>
  </div>
</div>