<div class="container">
  <div class="profile-wrapper">
    <!-- Runner Details Section -->
    <div class="runner-details">
      <div class="runner-header">
        <img  [src] = " runner" alt="Runner" class="runner-avatar">
        <div class="runner-info">
          <h2 class="runner-name">John Doe</h2>
          <div class="verification-badge">✔ Verified</div>
          <div class="runner-rating">
            <span class="star filled">★</span>
            <span class="star filled">★</span>
            <span class="star filled">★</span>
            <span class="star">★</span>
            <span class="star">★</span>
            <span class="rating-value">(3.0)</span>
          </div>
          <div class="runner-reviews">12 reviews</div>
          <div class ="onlineIMg">
            <img  [src]="onlineIcon" alt="https://img.icons8.com/ios-glyphs/30/full-stop--v1.png">
            <span class="onlineStatus">online</span>
          </div>
           
        </div>
      </div>
    </div>
  
      <!-- Product Catalog Section -->

    <div class="product-catalog">
      <h3 class="catalog-heading">Product Catalog</h3>
      <div class="category-filter mb-5">
        <select class="category-select form-select">
          <option value="all">All Categories</option>
          <option value="clothing">Clothing</option>
          <option value="kitchenware">Kitchenware</option>
          <option value="home-decor">Home Decor</option>
          <option value="hair-products">Hair Products</option>
        </select>
      </div>

      <div class="categoriesDiv">
        <div class="category">
          <img [src]="categories[0]" alt="">
          <h4>Clothes</h4>
        </div>
        <div class="category">
          <img [src]="categories[1]" alt="">
          <h4>Hair</h4>
        </div>
        <div class="category">
          <img [src]="categories[2]" alt="">
          <h4>Kitchen Wear</h4>
        </div>
        <div class="category">
          <img [src]="categories[3]" alt="">
          <h4>Event Décor</h4>
        </div>
        <div class="category">
          <img [src]="categories[4]" alt="">
          <h4>Home Décor</h4>
        </div>
      </div>
      
    </div>
     
  



    <!-- Chat Option -->
    <div class="chat-option mt-4">
    <button class="btn chat-btn"><i class="bi bi-chat"></i> Chat with Runner</button>
  </div>
</div>
  