<h4 class="mt-3 text-dark">Categories</h4>
  <div class="categories-container d-flex justify-content-center gap-3 flex-wrap">
    <div class="category-circle">
      <img [src]="categories[0]" alt="Category 1" class="category-image">
      <p class="category-name">Clothes</p>
    </div>
    <div class="category-circle">
      <img [src]="categories[1]" alt="Category 2" class="category-image">
      <p class="category-name">Hair</p>
    </div>
    <div class="category-circle">
      <img [src]="categories[2]" alt="Category 3" class="category-image">
      <div class="category-name">Kitcthen</div>
      <div class="category-name">Wear</div>
    </div>
    <div class="category-circle">
      <img [src]="categories[3]" alt="Category 4" class="category-image">
      <div class="category-name">Event</div>
      <div class="category-name">Décor</div>
    </div>
    <div class="category-circle">
      <img [src]="categories[4]" alt="Category 5" class="category-image">
      <div class="category-name">Home</div>
      <div class="category-name">Décor</div>
    </div>
</div> 
