<div class="help-desk-contact-us">
  <div class="rectangle-104"></div>
  <img class="collapse-arrow" src="collapse-arrow0.png" />
  <div class="contact-details">
    <div class="contact-title">Contact Details</div>
    <div class="phone-numbers">
      <p>Call us at:</p>
      <ul>
        <li>(+27) 76 123 4566</li>
        <li>(+27) 82 101 1111</li>
        <li>(+27) 71 219 2066</li>
      </ul>
    </div>
    <div class="email">
      <p>Email us at:</p>
      <ul>
        <li>support-example.com</li>
      </ul>
    </div>
    <div class="social-media">
      <p>Follow us on social media:</p>
      <ul>
        <li><a href="#">Facebook</a></li>
        <li><a href="#">Twitter</a></li>
        <li><a href="#">Instagram</a></li>
      </ul>
    </div>
  </div>
</div>
