<div class="landing-page vh-100 d-flex align-items-center justify-content-center bg-light">
  <div class="card shadow-lg p-5 text-center">
    
    <!-- Logo -->
    <div class="logo-container mb-4">
      <img src="images/landing-logo.png" alt="Logo" class="img-fluid" style="width: 270px; height: 316px;" />
    </div>
    
    <!-- Main Slogan -->
    <div class="slogan mb-3 text-center">
      <h1 class="main-slogan">
        Easy Errands, <span class="sub-slogan">Find it. Shop it.</span>
      </h1>
      <p class="secondary-slogan">Runners Get It Done.</p>
    </div>
    
    
    <!-- Description -->
    <p class="description text-muted mb-5">
      A place where Buyers find what they need, and Runners make it happen. Whether you're shopping or helping others shop, we’re here to connect you!
    </p>

    <!-- Call-to-Action Button -->
    <button routerLink="/buyer-login"  type="button" class="btn btn-primary w-100  py-3 mb-3">Let’s Get Started</button>

    <!-- Sign-Up Link -->
    <p class="mt-4">
      <span class="text-muted">Already have an account?</span>
      <a href="#" class="link">Sign Up</a>
    </p>
  </div>
</div>
