<div class="container-fluid vh-100 d-flex align-items-center justify-content-center">
    <div class="container " style="max-width: 400px;">
  
      <!-- Logo -->
      <div class="text-center mb-4">
        <div class="position-relative d-inline-block">
          <img src="images/landing-logo.png" alt="Logo" class="position-absolute" style="width: 278px; height: 316px; margin-top: -295px; margin-left: -130px;" />
        </div>
      </div>
      <!-- Slogan -->
      <div class="text-center d-flex align-items-center justify-content-center">
        <h2 class="LandingPage-Slogan">Easy Errands, </h2>
        <h2 class="LandingPage-Slogan2"> Find it. Shop it.</h2>
  
      </div>

      <!-- Slogan 2-->

      <div class="text-center d-flex align-items-center justify-content-center">
        <h2 class="LandingPage-Slogan2">Runners Get It Done.</h2>
      </div>
      <!--DESCRIPTION-->
      <div class="app-description-container align-items-center justify-content-center">
        <p class="app-description">A place where Buyers find what they need, and Runners make it happen. 
             Whether you're shopping or helping others shop, we’re here to connect you!</p>
      </div>
  

        <!-- Sign In Button -->
        <div class="d-grid mt-3">
          <button type="submit" class="btn btn-primary rounded-pill py-2">Lets Get started</button>
        </div>
 
  
      <!-- Sign Up Link -->
      <div class="text-center mt-4">
        <span class="text-dark">Already have an account?</span>
        <a href="#" class="link"> Sign Up</a>
      </div>
    </div>
  </div>
  