.topDivSearchAndBack {
  display: flex;
  margin-top: 20%;
  margin-left: 4%;
  }

.back-arrow {
    width: 37px;
    height: 37px;
    object-fit: cover;
  }

  .search-bar {
    position: relative;
    margin-left: 4%;
    margin-top: 5px;
  }
  .rectangle-25 {
    background: #f6f6f6;
    border-radius: 10px;
    border-style: solid;
    border-color: rgba(30, 30, 30, 0.01);
    border-width: 1px;
    width: 333px;
    height: 31.33px;
    position: absolute;
    left: 0px;
    top: 0px;
  }
  .search {
    width: 33.4px;
    height: 19.28px;
    position: absolute;
    left: 289.11px;
    top: 5.62px;
    object-fit: cover;
  }
  .search-product {
    color: rgba(112, 127, 129, 0.56);
    text-align: left;
    font-family: "Inter-Light", sans-serif;
    font-size: 18px;
    font-weight: 300;
    position: absolute;
    left: 88.8px;
    top: 4px;
    width: 153.62px;
    height: 17.67px;
  }
  