.sign-in,
.sign-in * {
  box-sizing: border-box;
}
.sign-in {
  background: #ffffff;
  height: 932px;
  position: relative;
  overflow: hidden;
}
.back-arrow {
  width: 37px;
  height: 37px;
  position: absolute;
  left: 18px;
  top: 73px;
}
.back-arrow2 {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  object-fit: cover;
}
.forgot-password {
  color: #3c5a5d;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  left: 252px;
  top: 643px;
}
.sign-in2 {
  color: #0c1415;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 32px;
  font-weight: 600;
  position: absolute;
  left: 166px;
  top: 472px;
}
.group-13 {
  position: absolute;
  inset: 0;
}
.rectangle-11 {
  background: #ffffff;
  border-radius: 10px;
  border-style: solid;
  border-color: rgba(30, 30, 30, 0);
  border-width: 1px;
  width: 352px;
  height: 37px;
  position: absolute;
  left: 39px;
  top: 587px;
}
.div {
  color: rgba(112, 127, 129, 0.56);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 39px;
  top: 596px;
  width: 352px;
  height: 37px;
  border-radius: 10px;
  border-color: #000000;
  opacity: 20%;
  text-align: left;
  padding-left: 10px;
  color: #707F81 56%;
 
}
.rectangle-10 {
  background: #ffffff;
  border-radius: 10px;
  border-style: solid;
  border-color: rgba(30, 30, 30, 0);
  border-width: 1px;
  width: 352px;
  height: 37px;
  position: absolute;
  left: 39px;
  top: 539px;
}
.johndoe-gmail-com {
  color: rgba(112, 127, 129, 0.56);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 39px;
  top: 549px;
  width: 352px;
  height: 37px;
  border-radius: 10px;
  border-color: #000000;
  opacity: 20%;
  text-align: left;
  padding-left: 10px;
}
.don-t-have-an-account-sign-up {
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 105px;
  top: 776px;
}
.don-t-have-an-account-sign-up-span {
  color: #000000;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.don-t-have-an-account-sign-up-span2 {
  color: #000000;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 14px;
  font-weight: 600;
}
.don-t-have-an-account-sign-up-span3 {
  color: #3c5a5d;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 14px;
  font-weight: 600;
}
.group-17 {
  position: absolute;
  inset: 0;
}
.rectangle-9 {
  background: #3c5a5d;
  border-radius: 14px;
  width: 355px;
  height: 51.25px;
  position: absolute;
  left: 39px;
  top: 687px;
}
.sign-in3 {
  color: #f6f6f6;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  left: 184px;
  top: 699px;
  width: 90px;
  height: 28px;
}
.ellipse-11 {
  background: #ffffff;
  border-radius: 50%;
  border-style: solid;
  border-color: #3c5a5d;
  border-width: 3px;
  width: 248px;
  height: 316px;
  position: absolute;
  left: 95px;
  top: 116px;
}
.ellipse-12 {
  background: #3c5a5d;
  border-radius: 50%;
  width: 227px;
  height: 316px;
  position: absolute;
  left: 96px;
  top: 116px;
}
.logo-wwhite {
  border-radius: 100px;
  width: 146px;
  height: 244px;
  position: absolute;
  left: 144px;
  top: 116px;
  object-fit: cover;
}
