/* General Body Styles */

/* Landing Page Container */
.container-fluid{
  background-color: var(--white-background);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  margin-top: 41px;
}

/* Card */
.card {
  max-width: 450px;
  background-color: #fff;
  border-radius: 20px;
  padding: 32px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
}

/* Logo */
.logo-container img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

/* Main Slogan */
.main-slogan {
  font-size: 32px;
  font-weight: 690;
  color: var(--black-text); /* Color for the slogan */
  margin: 0;
  display: inline-block;
}

/* Input Fields */
input.form-control {
  border-radius: 10px;
  padding-left: 15px;
  font-size: 16px;
  font-weight: 400;
  width: 100%; /* Ensures the input fields take up the full width */
  margin-bottom: 16px; /* Adds space between the inputs */
}
input::placeholder {
  color: rgba(129, 143, 144, 0.5); /* Adjust to your desired color and opacity */
}

/* Forgot Password Link */
.forgot-password-link {
  color: var(--green-buttons-links); /* Use the sign-up color */
  font-weight: 600;
  font-size: 14px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.forgot-password-link:hover {
  color: var(--seondary-background); /* Hover effect */
}

/* Button */
.btn-primary {
  background-color: var(--green-buttons-links);
  color: var(--white-background);
  font-size: 18px;
  font-weight: 600;
  border: none;
  width: 100%; /* Ensures the button takes up the full width */
  padding: 12px;
  transition: all 0.3s ease;
  border-radius: 14px;
}

.btn-primary:hover {
  background-color: var(--seondary-background);
  transform: translateY(-2px);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

/* Sign-Up Link */
.link {
  color: var(--green-buttons-links);
  font-weight: 600;
  text-decoration: none;
  transition: color 0.3s ease;
}

.link:hover {
  color: var(--seondary-background);
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .card {
    padding: 24px;
  }

  input.form-control {
    font-size: 14px;
    padding-left: 12px;
  }

  .btn-primary {
    font-size: 16px;
    padding: 10px;
  }

  .main-slogan {
    font-size: 28px;
  }
}

@media (max-width: 480px) {
  .card {
    padding: 16px;
  }

  input.form-control {
    font-size: 14px;
    padding-left: 10px;
  }

  .btn-primary {
    font-size: 14px;
    padding: 8px;
  }

  .main-slogan {
    font-size: 24px;
  }
}

