<div class="container-fluid h-100 d-flex align-items-center justify-content-center bg-white">
  <div class="card shadow-lg p-5 text-center">
    
    <!-- Logo -->
    <div class="logo-container mb-6">
      <img src="images/landing-logo.png" alt="Logo" class="img-fluid" style="width: 275px; height: 321px;" />
    </div>
    
    <!-- Main Slogan -->
    <div class="slogan mb-12 text-center">
      <h1 class="main-slogan">
        Sign In
      </h1>
    </div>
    
  <div class="input mb-5">

  </div>
    <!-- Email Input -->
    <input type="email" class="form-control  px-3 py-2" placeholder="johndoe@gmail.com" />
    
    <!-- Password Input -->
    <input type="password" class="form-control  px-3 py-2" placeholder="**************" />

    <!-- Forgot Password Link -->
    <div class="text-end mb-3">
      <a href="#" class="forgot-password-link">Forgot Password?</a>
    </div>

    <!-- Call-to-Action Button -->
    <button type="button" class="btn btn-primary w-100 py-3 mb-3">Sign In</button>

    <!-- Sign-Up Link -->
    <p class="mt-4">
      <span class="text-muted">Already have an account?</span>
      <a href="#" class="link">Sign Up</a>
    </p>
  </div>
</div>
